#admin_chat_box {
    display:block;
    overflow:auto;
    clear:both;
    padding:20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color:#fff;
    width:85%;
    min-width:675px;



}
.admin_chat_box {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    float:left;
    display:block;
    background-color:white;
    width: 50%;
    min-width:300px;
    height:300px;
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#FFF));
    background-image: -webkit-linear-gradient(top, #CCC, #FFF);
    background-image:    -moz-linear-gradient(top, #CCC, #FFF);
    background-image:      -o-linear-gradient(top, #CCC, #FFF);
    background-image:         linear-gradient(to bottom, #CCC, #FFF);
}
.chat_response_box {

}
.admin_chat_box_inner {
    height:210px;
    padding:10px;
    overflow:scroll;
    overflow-x: hidden;
    background-color:#FFF;


}

.admin_chat_box_inner_bottom {
    height:60px;
    width:100%;
    border-top:1px solid #ccc;




}
.admin_chat_quick_controls { 
    clear:left;
    padding-left:10px;

}

.admin_visitor_info {
    float:left;
    width: 47%;
    padding-left:15px;
    min-width:250px;


}
#wplc_admin_chatmsg {
    width:95%;
    margin:0 auto;
    margin-top:10px;
    display:block;
    height:50px;
    padding:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.admin_chat_img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.wplc-admin-message { 

    padding:10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-top:2px;
    background-color:#EEE;
    display: inline-block;
    float: left;
    clear:both;
    margin-bottom: 3px;


}

.wplc-user-message { 

    padding:10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ffdb99;
    margin-top:2px;
    background-color:#fff6ef;
    color:#000;
    display: inline-block;
    float: right;
    clear:both;
    margin-bottom: 3px;

}
.wplc-user-message hr, .wplc-admin-message hr{
    margin-bottom: 0px !important;
}
.chat_time {
    display:block;
    width:100%;
    text-align:center;
    font-size:0.8em;
    color:#ccc;
    clear:both;

}
/*.admin_visitor_advanced_info {
    clear:both;
    font-size:0.9em;
    margin-top:20px;

}*/
.admin_visitor_advanced_info .part1 {
    color:#3b3b3b;
}
.admin_visitor_advanced_info .part2 {
    color:#949494;
}
.admin_chat_name { font-size:1.3em; display:block; clear:right; font-weight:bold; margin-bottom:5px; }
.admin_chat_email { font-size:1em; display:block; clear:right; }


.end_chat_div {
    display:block;
    clear:both; 
    text-align:right;
    font-size:10px;
    width:85%;
    margin-left: 40px;
    margin-bottom:20px;
}

/* New Dashboard Layout */
.wplc_admin_dashboard_container{
    width: 80%;
    margin: 0 auto;
}
#wplc_admin_chat_area{
    width: 65%;
    display: inline-block;
    background-color: #FFF;
    float: left;
    /*padding: 10px;*/
    box-shadow: 1px 1px 3px #ccc;
}

#wplc_admin_visitor_area{
    width: 30%;
    display: inline-block;
    background-color: #FFF;
    float: right;
    box-shadow: 1px 1px 3px #ccc;
}

.wplc_visitor_container{
    padding: 10px;
}
.wplc_visitor_container h1{
    text-align: center;
    line-height: 22px;
}

.wplc_chats_container h2{
    padding: 10px;
}

.wplc_chat_section {
    width: 33.33%;
    display: table-cell;
    vertical-align: middle;
}

.wplc_agent_actions{
    text-align: center;
}

.wplc_single_chat{
    width: 100%;
    display: inline-block;
    border: 1px solid #EEE;
    border-radius: 5px;
    box-shadow: 1px 1px 21px #EEE;
    margin: 8px auto;
    padding: 10px;
}
.wplc_single_chat .wplc_user_image {
    width: 30%;
    display: inline-block;
    float: left;
}
.wplc_user_meta_data {
    width: 70%;
    display: inline-block;
}
.wplc_single_chat .wplc_user_image img{
    border-radius: 100px;
}


.wplc_single_visitor{
    border-bottom: 1px solid #ccc;
    padding: 20px;    
}

.wplc_single_visitor .wplc_chat_status{

}

.wplc_single_visitor .wplc_user_image {
    width: 120px;
    display: inline-block;
    margin-right: 10px;
}

.wplc_single_visitor .wplc_user_image img{
    border-radius: 100px;
}

.wplc_single_visitor .wplc_user_meta_data{
    display: inline-block;
    vertical-align: top;
}

.wplc_single_visitor .wplc_user_name {

}

.wplc_single_visitor .wplc_user_name h3{
    margin: 0;
    padding: 0;
}

.wplc_single_visitor h3.ui-accordion .ui-accordion-icons{
    margin: 0;
    padding-left: 0;
}

.wplc_single_visitor .wplc_user_name h3 i{
    padding: 0 10px;
}
.wplc_active{
    color: green;
}

.wplc_pending{
    color: orange;
}

.wplc_closed{
    color: red;
}

.wplc_single_visitor .wplc_user_email{

}

.wplc_single_visitor .wplc_user_ip{

}

.wplc_single_visitor .wplc_current_page a{
    width: 100%;
}

.wplc_single_visitor .wplc_actions{

}

.wplc_icon_message{
    font-size: 10px;
    font-weight: normal;
}

.wplc_page_title{
    text-align: center;
}

.wplc_page_title h1{
    font-size: 3em;
}

.wplc_visitor_icon{
    padding-right: 10px;

}

@media all and (max-width: 550px) {
    #wplc_admin_chat_area{
        width: 100%;
        padding: 0;
        margin: 0 0 10px 0;
    }
    #wplc_admin_visitor_area{
        width: 100%;
    }
    #wplc_admin_chat_area p{
        padding: 10px
    }
}
@media all and (max-width: 1440px) {
    .wplc_single_chat .wplc_user_image {
        width: 100%;
        display: block;
        text-align: center;
    }
    .wplc_user_meta_data {
        width: 100%;
        display: block;
        text-align: center;
    }
}

@media all and (max-width: 1200px) {
    .wplc_chat_section.section_1 {
        display: inline-block;
        width: 100%;
        padding: 10px;
    }
}

@media all and (max-width: 850px) {
    .wplc_chat_section.section_2 {
        display: inline-block;
        width: 100%;
        padding: 10px;
    }
    .admin_visitor_advanced_info{
        width: 93%;
    }
}

.wplc_admin_dashboard_container p {
  padding: 0 5px;
}